*.elc
.mc-lists.el
.org-id-locations
.smex-items

Mail
News

ac-comphist.dat
anything-c-adaptive-history
auto-save-list/
backups/
custom.el
ede-projects.el
elpa/archives
elpa/gnupg/
eshell/
history
nrepl-history
projectile-bookmarks.eld
recentf
semanticdb/
server
srecode-map.el
swank/
tramp
trusted-elisp-files.el
url/
