*.elc
.mc-lists.el
.org-id-locations
.smex-items

Mail
News

ac-comphist.dat
anything-c-adaptive-history
auto-save-list/
backups/
custom.el
ede-projects.el
elpa/archives
elpa/gnupg/
eshell/
history
network-security.data
nrepl-history
projectile-bookmarks.eld
projectile.cache
recentf
semanticdb/
server
srecode-map.el
swank/
tramp
treemacs/
trusted-elisp-files.el
url/
